.ant-checkbox-checked .ant-checkbox-inner {
    color: red !important;
    background: #f50963;
    border: 1px solid #f50963;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
    background: #f50963 !important;
    border: 1px solid #f50963 !important;
}

.ant-checkbox:after {
    border: 1px solid #f50963 !important;
}

@media screen and (max-width:575px) {
    .remember_me {
        flex-direction: column;
    }

}